/* ======= FONTS ======= */
@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}
/* ======= COLORS ======= */
:root {
  --main-color: #fff;
  --second-text-color: #000;
  --bg-color: #ed4c5c;
}
/* ======= BASIC STYLE ======= */
*,
::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: lato;
}
html {
  font-size: 62.5%;
  /* font-size: 10px; */
}
.container {
  max-width: 110rem;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  display: inline-block;
  cursor: pointer;
  border: none;
}
