.software {
  padding: 10rem 0rem;
  display: flex;
  align-items: center;
  margin-bottom: 13rem;
}
.software_info {
  width: 50%;
}
h2 {
  color: #000;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.software_info > p {
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.1rem;
  margin-bottom: 2.4rem;
}
.software_info > span {
  color: #ed4c5c;
  text-align: justify;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
}
.software_img {
  width: 50%;
}
.software_img > img {
  width: 100%;
}
